<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramup.gandrade.pokerclub">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".PokerClubApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.SignUpActivity" />
        <activity android:name=".MainFunctionsActivity" />
        <activity android:name=".ViewPager" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".Game.Views.CreateGameActivity"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity" />
        </activity>
        <activity android:name=".Game.Views.ScanActivity" />
        <activity
            android:name=".Game.Views.GameActivity"
            android:label="@string/title_activity_game" />

        <service android:name=".Game.Notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".Game.Notifications.NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.rampup.gandrade.pokerclub.game.notifications.myfirebasemessagingservice.ACTION_ACCEPT_TRANSACTION" />
                <action android:name="com.rampup.gandrade.pokerclub.game.notifications.myfirebasemessagingservice.ACTION_REJECT_TRANSACTION" />
            </intent-filter>
        </receiver>

        <activity android:name=".NotificationActivity"></activity>
    </application>

</manifest>